<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.hospMS.controller"></context:component-scan>
    <mvc:annotation-driven ></mvc:annotation-driven>
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/jsp/"></property>-->
        <!--<property name="suffix" value=".jsp"></property>-->
    <!--</bean>-->



    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/H-ui/"></property>-->
        <!--<property name="suffix" value=".jsp"></property>-->
    <!--</bean>-->
    <bean  class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="contentType" value="text/html; charset=UTF-8"/>
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="cache" value="true" />
        <property name="suffix" value=".html" />
        <property name="order" value="0"/>
    </bean>

    <!-- 配置freeMarker的模板路径 -->
    <bean  class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">3600</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="number_format">#.##</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"></property>
        <property name="suffix" value=".html"></property>
        <property name="contentType" value="text/html"></property>
    </bean>
    <!-- 静态资源映射 -->
    <!--
        不做映射将无法访问/WEB-INF/js和/WEB-INF/css/和/WEB-INF/image/下的资源
    -->
    <mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>
<!--    <mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>
    <mvc:resources location="/WEB-INF/image/" mapping="/image/**"/>-->
    <mvc:resources location="/WEB-INF/" mapping="/**"/>
    <mvc:resources location="/WEB-INF/static/" mapping="/static/**"/>
    <mvc:resources location="/WEB-INF/lib/" mapping="/lib/**"/>
    <mvc:resources location="/WEB-INF/temp/" mapping="/temp/**"/>
    <mvc:resources location="/WEB-INF/lib/Hui-iconfont/1.0.8/" mapping="/lib/Hui-iconfont/1.0.8/**"/>
    <!--<mvc:resources location="/WEB-INF/lib/jquery/1.9.1/" mapping="/lib/jquery/1.9.1/**"/>-->
</beans>